<%= form_for(@m3_level) do |f| %>
  <% if @m3_level.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@m3_level.errors.count, "error") %> prohibited this m3_level from being saved:</h2>

      <ul>
      <% @m3_level.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :data %><br>
    <%= f.text_area :data %>
  </div>
  <div class="field">
    <%= f.label :active %><br>
    <%= f.number_field :active %>
  </div>
  <div class="field">
    <%= f.label :order %><br>
    <%= f.number_field :order %>
  </div>
  <div class="field">
    <%= f.label :icons %><br>
    <%= f.text_area :icons %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
